.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    
}

.formControl {
    width: 40%;
    background-color:rgb(231, 211, 208);
}