body {
    background-color: rgb(241, 241, 201);
    margin: 0px;
    
   
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    
    
    border-bottom: 5px solid rgba(0, 0, 0, 1);
    width: 100%;
    
}